*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
   
    background-image: linear-gradient(rgba(47, 23, 15, 0.65), rgba(47, 23, 15, 0.65)), url(../../../home/assets/css/image/bg.jpg);
    background-size: cover;
    background-attachment: fixed;
   
  
}



.head{
    margin-top: 8%;
}


.font-family{
    font-family: "Raleway", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.head > h3{

    color: #E6A24F;
    text-align: center;
    font-size: 5vh;
    font-weight: 800;
    

}

.head h1{
    color: #DBC4AB;
    text-align: center;
    font-size: 15vh;
    font-weight: 100;
    
}

.nav-bar{
    width: 100%;
    height: 15vh;
    margin-top: 10vh;
    background-color: #2F170F;
    opacity: 0.9;
    position: sticky;
    top: 0;
}

.nav-bar ul{
    text-align: center;

}

.nav-bar ul li{
    display: inline-block;
    color: white;
    margin-top: 2vh;
    padding: 5vh;
}
.nav-bar ul li:hover{
    color: rgb(116, 111, 111);
    cursor: pointer;
}

.home-img img{
    width: 60%;
    margin-top: 15vh;
    margin-left: 60vh;
    border-radius: 3px;
}

.section{
    width: 37%;
    height: 60vh;
    border: 2px solid white;
    border-radius: 7px;
    background-color:#F6E1C5;
    position: relative;
    bottom: 75vh;
    left: 20vh;
}

.section h6{
    font-size: 15px;
    font-weight: 700;
    opacity: 0.9;
    text-align: center;
    margin-top: 7vh;


}

.section h1{
    width: 50%; 
    font-size: 8vh;
    margin-left: 26vh;
    font-weight: 100;
}

.section h2{
    width: 50%;
    font-weight: 50;
    font-size: 8vh;
    margin-left: 22vh;
}

.section p{
    width: 90%;
    text-align: justify;
    font-size: 17px;
    padding-left: 11vh;
    margin-top: 2vh;
    opacity: 0.7;

}

.visit{
    width: 40%;
    height: 12vh;
    background-color: #E6A756;
    border-radius: 1vh;
    position: relative;
    left: 25vh;
    top: 6vh;
}
.visit:hover{
    background-color:  #b18f62 ;
    cursor: pointer;
    opacity: 2px solid #b18f62 ;
}

.visit h4{
    text-align: center;
    padding-top: 5vh; 
    
   
}

.main{
    width: 100%;
    height: 80vh;
    background-color: #D3994F;
}

.container{
    width: 130vh;
    height: 50vh;
    background-color: white;
    border-radius: 1vh;
    outline: 5px solid #E5AD63;
    position: relative;
    top: 15vh;
    left: 45vh;  
}

.container h4{
text-align: center;
padding-top: 6vh;
}

.container h1{
    font-size: 6vh;
    font-weight: 800;
    text-align: center;
}

.container p{
    width: 70%;
    text-align: justify;
    margin-left: 20vh;
    margin-top: 4vh;
}


.end{
    width: 100%;
    height: 20vh;
    background-color:#311810 ;
    margin-top: 20vh;
}

.end h1{
    font-size: 3vh;
    color:#F6E1C5;
    text-align: center;
    padding-top: 10vh;
}